
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 12px;
    color: white;
    border-radius: 5px;
}
html {
    background-color:hsl(0, 100%, 74%);
    background-image: url("./images/bg-intro-desktop.png");
    background-repeat: no-repeat;
}
body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    margin-bottom: 15vh;
}
.main {
    display: flex;
    width: 60vw;
}
.main .left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}
h1 {
    font-size: 35px;
}
.main .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin-left: 3vw;
}
.main .right-top {
    margin-bottom: 30px;
}
.main .right-top-paragraph {
    padding: 0;
    margin: 0;
    background-color:hsl(248, 32%, 49%);
    height: 50px;
    text-align: center;
    padding: 15px;
}
.main .right .right-bottom {
    text-align: center;
    background-color: white;
}
.main .right .right-bottom form {
    padding: 30px;
    padding-top: 10px;
}
.main .right .right-bottom form input {
    display: block;
    width: 100%;
    margin: 15px 0px;
    height: 45px;
    padding-left: 20px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-weight: 500;
    padding-right: 20px;
}
.main .right .right-bottom form .button {
    display: block;
    width: 100%;
    margin: 20px 0px;
    height: 45px;
    border: 0;
    border-radius: 5px;
    color: white;
    text-align: center;
    background-color: hsl(154, 59%, 51%);

    box-shadow: 1px 1px 1px hsl(154, 96%, 51%);
}
.main .right .right-bottom form .button:hover {
    box-shadow: 2px 2px 2px hsl(154, 96%, 51%);
    cursor: pointer;
}
.main .right .right-bottom form p {
    color: black;
}
p.note {
    color: black;
}
@media screen and (max-width: 820px) {
    .main {
        flex-direction: column;
    }
    .main .left {
        width: 100%;
        justify-content: center;
        text-align: center;
        padding: 20px;
    }
}